.aboutHifu-second__wrapper {
  display: flex;

  @include tab {
    flex-direction: column;
  }
}

.aboutHifu-second__image-wrap {
  margin-left: 85px;

  @include tab {
    margin: 60px auto 0;
  }
}

.aboutHifu-second__image {
  min-width: 428px;
  width: 100%;
  height: auto;
  @include sp {
    width: 57vw;
    min-width: 214px;
  }
}

.aboutHifu-second__sentence {
  font-size: 18px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: $color-gray;
  text-align: justify;
  line-height: 2.95;
  @include lineHeightCrop(18, 52);
  margin-top: 85px;

  @include sp {
    font-size: 13px;
  }
}

// features start
.features {
  background: $color-primaryPink;
  margin-top: 108px;
  padding: 0;
}

.features__wrapper {
  padding: 180px 0;
}

.features__box {
  margin-top: 150px;

  @include tab {
    margin-top: 11.8vw;
  }
}

.features__partition {
  &:not(:first-of-type) {
    margin-top: 108px;
  }
}

.features__image {
  &[data-num="01"] {
    background: url(#{$imgDirIndex}/img_compromise_01@2x.jpg) center / cover no-repeat;
  }
}
// features end

// comparison start
.comparison__image-wrap {
  margin-top: 100px;
}
// comparison end
