.section {
  padding: 192px 0 0 0;
  overflow: hidden;

  @include tab {
    padding: 125px 0 0 0;
  }
}
// mainVisual start

.mainVisual img {
  height: 700px;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  @include tab {
    height: 390px;
  }
}

.mainVisual__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainVisual__scroll {
  @include position(abs, n, 35px, -94px, n);
  background: url(#{$imgDirIndex}/text_scrolldown.svg) 50% / contain no-repeat;
  width: 15px;
  height: 360px;
  transition: 0.5s;
  cursor: pointer;

  @include tab {
    width: 9px;
    height: 230px;
    right: 25px;
    bottom: -115px;
  }
}

.mainVisual__scroll:hover {
  transform: translateY(10px);
  opacity: 0.7;
}
.mainVisual__arrow {
  display: block;
  background: url(/img/common/icon_arrow_right.svg) center/contain no-repeat;
  width: 64px;
  height: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.mainVisual__wrapper::after {
  content: "Hair Removal Salon Lion Kobe Sannomiya";
  display: block;
  margin-top: 40px;
  margin-left: 176px;
  font-family: "EB Garamond", serif;
  color: $color-secondaryPink;
  letter-spacing: 0.12em;
  font-size: 18px;

  @include tab {
    margin-top: 14px;
    margin-left: 25px;
  }

  @include sp {
    font-size: 11px;
  }
}

.mainVisual__box {
  position: relative;
  width: calc(100% - 295px);

  @include tab {
    width: calc(100% - 75px);
  }
}

.mainVisual__Index {
  @include position(abs, n, n, 32px, 75px);
  color: $color-white;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.12em;
  font-size: 18px;
  display: flex;
  align-items: center;

  @include tab {
    left: 25px;
  }
}

.mainVisual__partition {
  @include position(abs, 50%, 0, n, n);
  transform: translate(53%, -50%);
  @include tab {
    //   position: static;
    transform: translate(54px, -50%);
  }
}

.mainVisual__mainCopy,
.mainVisual__mainCopy--child,
.mainVisual__sentence {
  text-align: center;
  color: $color-secondaryPink;
}

.mainVisual__mainCopy {
  font-family: "EB Garamond", serif;
  font-size: 68px;
  font-weight: 400;

  @include sp {
    font-size: 46px;
  }
}

.mainVisual__mainCopy--child {
  display: block;
  font-size: 18px;
  margin-top: 16px;
  letter-spacing: 0.12em;

  @include sp {
    font-size: 12px;
  }
}

.mainVisual__sentence {
  font-size: 14px;
  margin-top: 40px;
  line-height: 1.4;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.12em;

  @include sp {
    font-size: 11px;
  }
}

// mainVisual end

// news start
.news {
  overflow: hidden;
  padding: 255px 0 0 0;

  @include tab {
    padding: 165px 0 0 0;
  }
  & .title {
    display: inline-flex;
    align-items: center;
    @include tab {
      margin: 0 auto;
    }
  }
}

.news__card {
  margin: 0 16px;
}

.news__box {
  display: flex;
  align-items: flex-start;

  @include tab {
    flex-direction: column;
    align-items: flex-start;
  }
}

.news__box--02 {
  margin: 80px auto 0;

  @include tab {
    margin: 85px auto 0;
  }
}

.news__image {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  @include tab {
    max-width: 272px;
  }
}

.news__partition {
  width: 120%; //slickç”¨
  margin-left: 100px;

  @include tab {
    transform: translateX(-25px);
    margin-left: 0px;
  }
}

// news end

// compromise start
.compromise__partition {
  margin-top: 104px;
}
// compromise end

// concept start

.concept {
  margin: 192px 0 0 0;
  padding: 0;
}

.concept__wrapper {
  position: relative;
}

.concept__wrapper::before {
  content: "";
  background: url(#{$imgDirIndex}/bgimg_concept_01@2x.png) center / cover no-repeat;
  width: 760px;
  height: 100%;
  display: block;
  @include position(abs, n, 8.3vw, 0, n);

  @include tab {
    position: relative;
    width: 330px;
    height: 300px;
    // width: 100%;
    // padding-top: 90%;
    margin: 45px auto 0;
    right: 0;
  }
}

.concept__wrapper {
  padding: 180px 0;
  background: $color-primaryPink;

  @include tab {
    padding: 85px 0 0 0;
  }
}

// .concept__image-wrap {
//   @include position(abs, n, 8.3vw, 0, n);
// }

.concept__image {
  // width: 100%;
  // max-width: 820px;
  // min-width: 680px;
}

.concept__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  @include tab {
    flex-direction: column-reverse;
  }
}

.concept__partition {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  position: relative;

  @include tab {
    max-width: auto;
    max-width: initial;
  }
}

// .concept__image-wrap {
//   margin-left: auto;
// }

// .concept__image {
//   max-width: 760px;
//   width: 40vw;
//   min-width: 545px;
// }

.concept__sentence {
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  @include lineHeightCrop(18, 52);
  transform: rotate(0.001deg);
  line-height: 2.88;
  margin-top: 88px;
  transform: rotate(0.001deg);
  color: $color-gray;

  @include sp {
    font-size: 13px;
    @include lineHeightCrop(13, 52);
    margin-top: 84px;
  }
}
// concept end

// menu start
.menu__box {
  margin-top: 104px;
}

.menu__box--02 {
  margin: 100px auto 0;
}

.menu__partition:not(:first-of-type) {
  margin-top: 104px;
}
// menu end

// aboutHifu start

.aboutHifu {
  margin: 192px 0 0 0;
  padding: 0;
}
.aboutHifu__wrapper {
  padding: 175px 0;
  background: $color-primaryPink;
}

.aboutHifu__inWrapper {
  display: flex;
  margin-top: 80px;

  @include tab {
    max-width: 550px;
    margin: 0 auto;
    flex-direction: column;
  }
}

.aboutHifu__inWrapper--02 {
  margin: 80px auto 0;
}

.aboutHifu__image {
  background: url(#{$imgDirIndex}/img_aboutHifu_01@2x.jpg) center / cover no-repeat;
  min-width: 29.7vw;
  height: 415px;
  margin-left: 80px;
  border-radius: 30px;

  @include tab {
    width: 100%;
    height: auto;
    margin: 26px 0 0 0;
    &:before {
      content: "";
      display: block;
      padding-top: 74.4%;
    }
  }

  // @include sp {
  //   margin: 26px 0 0 0;
  //   height: 244px;
  // }
}

.aboutHifu__sentence {
  font-size: 14px;
  color: $color-gray;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  line-height: 2.5;
  @include lineHeightCrop(14, 35);
  transform: rotate(0.001deg);
  text-align: justify;
  letter-spacing: 0.08em;

  @include tab {
    margin-top: 40px;
  }

  @include sp {
    font-size: 13px;
    line-height: 2;
    @include lineHeightCrop(13, 26);
  }
}

.aboutHifu {
  & .title {
    align-items: center;
  }
}
// aboutHifu end

// information start

.information__list {
  max-width: 760px;
  margin: 106px auto 0;
}

.information__term,
.information__description {
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: $color-gray;
  text-align: justify;
  line-height: 1.4;
  @include lineHeightCrop(16, 23);

  @include sp {
    font-size: 13px;
    letter-spacing: 0.04em;
  }
}

.information__partition {
  display: flex;
}

.information__partition:not(:first-of-type) {
  margin-top: 40px;
}

.information__term {
  max-width: 265px;
  width: 100%;

  @include tab {
    min-width: 133px;
    width: auto;
  }
}

.information__map {
  margin-top: 88px;
  height: 370px;
  border-radius: 30px;
  overflow: hidden;

  @include sp {
    height: 175px;
  }
}
.information__map iframe {
  width: 100%;
  height: 100%;
}

// information end

// contact start
.contact__box {
  background: url(#{$imgDirIndex}/bgimg_contact_01@2x.jpg) center / cover no-repeat;
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
  position: relative;

  &::before {
    content: "";
    @include position(abs, 0, n, n, 0);
    width: 100%;
    height: 100%;
    background: $color-brown;
  }

  @include tab {
    background: url(#{$imgDirIndex}/bgimg_contact_01_sp@2x.jpg) center / cover no-repeat;
    height: 380px;
  }
}

.contact__partition {
  width: calc(100% - 32px * 2);
  display: flex;
  justify-content: center;

  @include tab {
    flex-direction: column;
  }
}

.contact-link {
  border: 1px solid $color-white;
  max-width: 585px;
  width: 100%;
  height: 110px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transition: 0.5s;
  @include tab {
    max-width: initial;
  }
  @include sp {
    height: 75px;
    border-radius: 20px;
  }
}

.contact-link:first-of-type {
  margin-right: 28px;
}

.contact-link:last-of-type {
  @include tab {
    margin-top: 40px;
  }
}

.contact-link::after {
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  background: url(#{$imgDirCommon}/icon_link_white.svg) center / contain no-repeat;
  margin-left: 68px;
  @include position(abs, n, 40px, 50%, n);
  transform: translateY(50%);

  @include sp {
    width: 23px;
    height: 23px;
    right: 24px;
  }
}

.contact-link:hover {
  opacity: 0.45;
}

.contact-link__title,
.contact-link__title::before {
  color: $color-white;
}

.contact-link__title {
  letter-spacing: 0.08em;
  font-size: 14px;
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  display: block;
  @include sp {
    font-size: 11px;
  }
}

.contact-link__title::before {
  content: attr(data-en);
  display: block;
  font-size: 38px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-bottom: 16px;

  @include sp {
    margin-bottom: 8px;
    font-size: 23px;
  }
}
// contact end
