@mixin lineHeightCrop($fontsize:16, $lineFeed:24) {
  $lineheight: $lineFeed / $fontsize;

  &::before,
  &::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
  }

  &::before {
    margin-top: calc((1 - #{$lineheight}) * 0.5em);
  }

  &::after {
    margin-bottom: calc((1 - #{$lineheight}) * 0.5em);
  }
}
