.mt56 {
  margin-top: 56px;
}
.mt120 {
  margin-top: 120px;
}

.pc-none {
  display: none;
  @include tab {
    display: block;
  }
}

.sp-none {
  display: block;
  @include tab {
    display: none;
  }
}

// // 試しに書いただけ↓
// .posts__wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 40px;
//   grid-template-areas:
//     "one two three"
//     "four five six"
//     "seven eight nine";

//   @include tab {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .card:nth-of-type(1) {
//   grid-area: one;
// }
// .card:nth-of-type(2) {
//   grid-area: two;
// }
// .card:nth-of-type(3) {
//   grid-area: three;
// }
// .card:nth-of-type(4) {
//   grid-area: four;
// }
// .card:nth-of-type(5) {
//   grid-area: five;
// }
// .card:nth-of-type(6) {
//   grid-area: six;
// }
// .card:nth-of-type(7) {
//   grid-area: seven;
// }
// .card:nth-of-type(8) {
//   grid-area: eight;
// }
// .card:nth-of-type(9) {
//   grid-area: nine;
// }
