.navi-header {
  transition: 0.5s;
  @include tab {
    @include position(fixed, 0, n, n, 0);
    width: 100%;
    background: $color-white;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    // overflow-y: scroll;
  }
}
.navi-header.active {
  @include tab {
    opacity: 1;
    visibility: visible;
  }
}

.navi-header__wrapper {
  @include tab {
    width: calc(100% - 25px * 2);
    margin: 0 auto;
    min-height: 100vh; /* カスタムプロパティ未対応ブラウザ用のフォールバック */
    min-height: calc(var(--vh, 1vh) * 100);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
}

.navi-header__list {
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: $color-gray;
  text-align: justify;
  line-height: 1.4;
  @include lineHeightCrop(16, 23);

  @include sp {
    font-size: 13px;
    letter-spacing: 0.04em;
  }
}

.navi-header__box {
  @include tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
  }
}

.navi-header__box--02 {
  @include tab {
    // margin-top: 14vw;

    &:nth-of-type(2) {
      // margin-top: 12vw;

      &::before {
        content: "";
        width: 100%;
        @include full-width;
        height: 1px;
        display: block;
        background: $color-gray;
        margin-bottom: 12vw;
      }
    }
  }
}

.navi-header__listFrame {
  display: flex;

  @include tab {
    flex-direction: column;
    align-items: center;
  }
}

.navi-header__partition {
  display: none;
  @include tab {
    display: flex;
    margin-top: 54px;
  }
}

.navi-header__partition--02 {
  @include tab {
    display: flex;
    &:not(:first-of-type) {
      margin-top: 5.3vw;
    }
  }
}

.navi-header__logo-wrap:last-of-type {
  margin-left: 15px;
}

.navi-header__listFrame li:not(:first-of-type) {
  margin-left: 56px;

  @include tab {
    margin-top: 12vw;
    margin-left: 0;
  }
}

.navi-header__listFrame a,
.navi-header__link {
  display: block;
  color: $color-gray;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;

  @include sp {
    font-size: 18px;
  }
}

.navi-header__link-wrap {
  background: $color-secondaryPink;
  @include full-width;
  // margin-bottom: 10.1vw;
}

.navi-header__link--reserve {
  color: $color-white;
  text-align: center;
  padding: 1.6em;
}

.navi-header__list {
  display: none;
  @include tab {
    display: block;
  }
}

.navi-header__term {
  @include tab {
    min-width: 20vw;
    width: auto;
  }
}
