/**
* サンプル
*
*/

.plan {
  @include tab {
    max-width: 525px;
    margin: 0 auto;
  }
}

.plan__title,
.plan__text,
.plan__label {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.08em;
  color: $color-gray;
}

.plan__title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  padding: 0.8em 0;
}

.plan__label {
  padding: 0.5em 3.7em;
  background: $color-secondaryPink;
  font-size: 12px;
  color: $color-white;
  margin-left: 20px;
}

.plan__text--sejutsu {
  margin-top: 40px;
}

.plan__text--bui {
  display: block;
  font-size: 14px;
  line-height: 2.5;
  @include lineHeightCrop(14, 35);
  max-width: 870px;
  margin: 24px auto 0;
}

.plan__text--sejutsu {
  font-size: 24px;
  text-align: center;
}

.plan__text--course {
  padding-bottom: 16px;
  border-bottom: 6px solid $color-primaryPink;
}

.plan__image {
  @include tab {
    margin: 0 auto;
  }

  @include sp {
    max-width: 495px;
    width: 100%;
  }
}

.plan__box--02 {
  margin-left: 65px;

  @include tab {
    margin-top: 24px;
    margin-left: 0;
  }
}

.plan__partition--02 {
  margin-top: 12px;
}

.plan__wrapper--02 {
  display: flex;
  margin-top: 60px;
  @include tab {
    flex-direction: column;
    margin-top: 25px;
  }
}


.plan__inWrapper--02 {
  display: flex;
  justify-content: center;
}

.plan__price--course,
.plan__price--fixed,
.plan__price {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.08em;
  // IE Webフォント用
  transform: rotate(0.001deg);
}

.plan__text--course {
  font-size: 28px;
  color: $color-gray;
}

.plan__price {
  display: flex;
  flex-direction: column;
  color: $color-gray;
  font-size: 48px;

  @include sp {
    font-size: 27px;
  }
}

.plan__price:first-of-type {
  margin-right: 70px;
  padding-right: 70px;

  @include tab {
    margin-right: 35px;
    padding-right: 35px;
  }

  @include sp {
    margin-right: 35px;
    padding-right: 35px;
  }
}

.plan__price--course,
.plan__price--fixed {
  padding-top: 12px;
  padding-bottom: 12px;
}

.plan__price--course::before,
.plan__price--fixed::before {
  font-size: 24px;
  margin-bottom: 14px;
  @include sp {
    font-size: 14px;
  }
}

.plan__price--course {
  border-right: 2px solid $color-gray;
  &::before {
    content: attr(data-count) "回コース";
  }
}

.plan__price--fixed {
  &::before {
    content: attr(data-plan);
  }
}

.plan__inWrapper--02:not(:first-of-type) {
  margin-top: 32px;
}

.plan__inWrapper--02[data-index="1"] {
  & .plan__price--course::before,
  & .plan__price--fixed::before {
    color: $color-thirdCourse;
  }
}

.plan__inWrapper--02[data-index="2"] {
  & .plan__price--course::before,
  & .plan__price--fixed::before {
    color: $color-fifthCourse;
  }
}

.plan__inWrapper--02[data-index="3"] {
  & .plan__price--course::before,
  & .plan__price--fixed::before {
    color: $color-seventhCourse;
  }
}
