* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
}

html,
body {
  line-height: 1;
  color: #000000;
  font-family: "Noto Serif JP", "EB Garamond", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

img,
video,
object {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}
